.contact {
  background: #303030;
  width: 100vw;
  height: 100%;
  color: #fff;

  font-family: 'Cardo', sans-serif;
  position: relative;
  h1 {
    position: absolute;
    left: 15%;
    top: 30%;
    transform: rotate(-25deg);
  }
  h1:first-child {
    top: 10%;
    left: 25%;
    transform: rotate(15deg);
  }

  div {
    position: relative;
    position: absolute;
    width: 250px;
    bottom: 0;
    left: 5%;
    pointer-events: none;
  }
  img {
    position: relative;
    position: absolute;
    width: 250px;
    bottom: 0;
    left: 5%;
    pointer-events: none;
  }
}
